<ion-content class="background" padding>
  <ion-grid class="container-grid">
    <ion-row class="searchbar-row" justify-content-center>
      <ion-col col-12>
        <ion-searchbar color="primary" animated [(ngModel)]="userInputCity" (search)="searchByKeyword()" (ionInput)="searchCityHistory($event)"
          placeholder="Enter city name or id">
        </ion-searchbar>
        <p class="errorMessage" id="emptyWeatherForecast" *ngIf="emptyWeatherForecast">Invalid City Name or ID. Try Again!</p>
      </ion-col>
    </ion-row>
    <ion-row class="previous-cities-row" *ngIf="showCitiesAlreadySearched">
      <ion-list class="search-list" justify-content-center>
        <ion-list-header class="list-header">
          Previous Searches
        </ion-list-header>
        <ion-item detail-push class="search-item" *ngFor="let item of searchedCities" (click)="selectedCityFromSearchBar(item)">
          {{ item }}
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row class="slider-row" *ngIf="daysForecastArray?.length && !showCitiesAlreadySearched && templateCards?.length >= 3"
      justify-content-center>
      <ion-col col-12>
        <ion-slides #slides class="slides" pager="true">
          <ion-slide *ngFor="let card of templateCards">
            <ion-card class="card">
              <ion-card-header class="card-header">
                {{card?.cardTitle}} Chart for {{weatherForecast?.city_name}}, {{weatherForecast?.country_code}}
                <br>Unit of measurement ({{card?.unitOfMeasurement}})
              </ion-card-header>
              <ion-card-content class="card-content">
                <div>
                  Lowest value: {{card?.lowestValue}}
                  <br> Average value: {{card?.averageValue}}
                  <br> Highest value: {{card?.maxValue}}
                  <br>
                </div>
                <div class="chart-canvas-div">
                  <canvas class="canvas" baseChart [legend]="false" [data]="card?.barChartData" [labels]="barChartDaysLabels" [chartType]="barChartType"
                    [options]="barChartOptions"></canvas>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>