<ion-content class="background" padding>
  <ion-grid class="container-grid">
    <ion-row class="searchbar-row" justify-content-center>
      <ion-col col-12>
        <ion-searchbar color="primary" animated [(ngModel)]="userInputCity" (search)="searchByKeyword()" placeholder="Enter city name or id">
        </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="slider-row" *ngIf="daysForecastArray?.length" justify-content-center>
      <ion-col col-12>
        <ion-slides class="slides" pager="true">
          <ion-slide>
            <ion-card class="card">
              <ion-card-header class="card-header">
                Temperature Chart for {{weatherForecast?.city_name}}, {{weatherForecast?.country_code}}
                <br>Unit of measurement (°C)
              </ion-card-header>
              <ion-card-content class="card-content">
                <div>
                  Lowest value: {{lowestValueTemp}}
                  <br> Average value: {{averageValueTemp}}
                  <br> Highest value: {{maxValueTemp}}
                  <br>
                </div>
                <div class="chart-canvas-div">
                  <canvas class="canvas" baseChart #temperatureChart="base-chart" [legend]="false" [data]="doughnutChartTemperatureData" [labels]="doughnutChartDaysLabels"
                    [chartType]="doughnutChartType" [options]="doughnutChartOptions"></canvas>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="card">
              <ion-card-header class="card-header">
                Pressure Chart for {{weatherForecast?.city_name}}, {{weatherForecast?.country_code}}
                <br>Unit of measurement (mb)
              </ion-card-header>
              <ion-card-content class="card-content">
                <div>
                  Lowest value: {{lowestValuePressure}}
                  <br> Average value: {{averageValuePressure}}
                  <br> Highest value: {{maxValuePressure}}
                  <br>
                </div>
                <div class="chart-canvas-div">
                  <canvas class="canvas" baseChart #pressureChart="base-chart" [legend]="false" [data]="doughnutChartPressureData" [labels]="doughnutChartDaysLabels"
                    [chartType]="doughnutChartType" [options]="doughnutChartOptions"></canvas>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="card">
              <ion-card-header class="card-header">
                Humidity Chart for {{weatherForecast?.city_name}}, {{weatherForecast?.country_code}}
                <br>Unit of measurement (%)
              </ion-card-header>
              <ion-card-content class="card-content">
                <div>
                  Lowest value: {{lowestValueHumidity}}
                  <br> Average value: {{averageValueHumidity}}
                  <br> Highest value: {{maxValueHumidity}}
                  <br>
                </div>
                <div class="chart-canvas-div">
                  <canvas class="canvas" baseChart #humidityChart="base-chart" [legend]="false" [data]="doughnutChartHumidityData" [labels]="doughnutChartDaysLabels"
                    [chartType]="doughnutChartType" [options]="doughnutChartOptions"></canvas>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>